.nav
  display: flex
  flex-direction: row
  height: 50px
  width: 100%
  align-items: center
  position: fixed
  top: 0

  a
    text-decoration: none
    padding: 0 20px
    color: #fff
    font-size: 21px
    letter-spacing: 2px

  .google-button
    position: absolute
    right: 0
